@page
@model Despertador.Pages.TemporizadorModel
@{
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Despertador</title>
        <script src="frameworks/jquery.js"></script>
        <script src="frameworks/bootstrap.bundle.min.js"></script>
        <script src="temporizador.js" type="text/javascript"></script>
        <link rel="stylesheet" href="site.css"/>
        <link rel="stylesheet" href="frameworks/bootstrap.css"/>
    </head>
    <body>
       
        <h1>Temporizador</h1>

    </body>
</html>